$primary: #FF4646;
$primary-10: #FF46461A;
$white: #FFFFFF;
$white-20: #FFFFFF33;
$white-40: #FFFFFF66;
$dark: #181C29;
$purple: #4361FF;
$pink: #FF43F7;
$green: #06A44F;
$background: #ECF3F8;
$overlay: #181C29CC;

@keyframes spring {
  0% {
    transform: translateX(100px);
  }

  40% {
    transform: translateX(-120px);
  }

  60% {
    transform: translateX(-90px);
  }

  75% {
    transform: translateX(-110px);
  }

  85% {
    transform: translateX(-95px);
  }

  95% {
    transform: translateX(-98px);
  }

  100% {
    transform: translateX(-96px);
  }
}


@keyframes spring-out {
  0% {
    transform: translateX(-96px);
  }

  50% {
    transform: translateX(-110px);
  }

  100% {
    transform: translateX(100px);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  user-select: none;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: $white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 5.76px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.main,
.header,
.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  margin-top: -1px;
}

.btn-primary {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 156%;
  letter-spacing: 0.5px;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 32px;
  background-color: $dark;
  border-radius: 20px;
  margin-top: -2px;

  transition: color .2s linear, background-color .2s linear;

  @media (hover: hover) {
    &:hover {
      background-color: $white;
      color: $dark;
    }
  }
}

.scroll-up {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: -76px;
  width: 56px;
  height: 56px;
  background-color: $white;
  border-radius: 50%;
  border: 1px solid $primary;
  cursor: pointer;
  z-index: 10;
  pointer-events: none;

  @media (max-width: 768px) {
    display: flex;
  }
}

.scroll-up.show {
  animation: spring 0.5s cubic-bezier(0.25, 1.25, 0.5, 1.1) forwards;
  pointer-events: auto;
}

.scroll-up.hide {
  animation: spring-out 0.4s ease forwards;
  pointer-events: none;
}

.header {
  height: 64px;

  background-color: $white;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1276px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 0 8px;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 40px;
  gap: 9px;
  cursor: pointer;
  position: relative;
  z-index: 101;
}

.nav {
  width: 376px;

  transition: transform .2s linear;

  @media (max-width: 768px) {
    position: fixed;
    top: 54px;
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 100;
  }

  &--active {
    transform: translateX(-100%);
  }

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8px;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      margin-top: -30px;
    }

    &__item {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      font-weight: 600;
      line-height: 156%;
      letter-spacing: 0.5px;
      list-style: none;
      text-transform: uppercase;
      padding: 12px 20px;
      border-radius: 12px;
      cursor: pointer;
      transition: color .2s linear, background-color .2s linear;

      @media (hover: hover) {
        &:hover {
          background-color: $primary-10;
          color: $primary;
        }
      }

      &--active {
        background-color: $primary-10;
        color: $primary;
        cursor: default;

        a {
          pointer-events: none;
        }
      }

      @media (max-width: 768px) {
        font-size: 24px;
        letter-spacing: 3.8px;
        line-height: 36px;
      }
    }
  }
}

.burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 102;

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__line {
    width: 20px;
    height: 1px;
    background-color: $dark;
    transition: transform .2s linear;
  }

  &--active {
    .burger__line:first-child {
      transform: translateY(4px) rotate(-45deg);
    }

    .burger__line:last-child {
      transform: translateY(-5px) rotate(45deg);
    }
  }
}

.hero {
  padding: 118px 0;

  background-color: $primary;
  background-image: url('/bg-ball.png'), url('/bg-snow.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  border-radius: 20px 20px 0 0;

  @media (max-width: 768px) {
    background-size: cover;
  }

  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 10px;
  }

  &__suptitle,
  &__subtitle {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: $white;
  }

  &__subtitle {
    margin-top: -3px;
  }

  &__title {
    max-width: 430px;
    margin-bottom: 2px;
    color: $white;

    span {
      margin-left: 5px;
    }
  }

  &__btn {
    cursor: pointer;
  }
}

.about {
  padding: 60px 8px;

  background-color: $primary;
  background-image: url('/bg-snow.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1276px;
    height: 528px;
    margin: 0 auto;
    background-color: $white;
    border-radius: 20px;

    @media (max-width: 767px) {
      flex-direction: column;
      height: 880px;
    }

    @media (max-width: 767px) {
      max-width: 638px;
      align-items: start;
    }
  }

  &__img {
    width: 50%;
    min-width: 376px;
    max-width: 638px;
    height: 528px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 20px;

    @media (max-width: 767px) {
      width: 100%;
      height: 528px;
      min-width: 364px;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 60px;
    padding-bottom: 2px;

    @media (max-width: 968px) {
      padding-bottom: 3px;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding: 58px 20px 0;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 426px;
      gap: 18px;

      @media (max-width: 968px) {
        width: 256px;
      }

      @media (max-width: 767px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__subtitle {
    font-family: "Allura", cursive;
    font-size: 24px;
    letter-spacing: 1.2px;
    color: $primary;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3.8px;
    color: $dark;
  }
}

.slider {
  padding: 59px 7px;
  background-color: $primary;
  background-image: url('/bg-snow.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  overflow: hidden;

  &-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1276px;
    margin: 0 auto;
  }

  &__suptitle {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
    color: $white;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3.91px;
    color: $white;
    margin-bottom: 20px;
  }

  &-list {
    display: flex;
    align-items: center;
    width: 1993px;
    gap: 20px;
    margin-bottom: 20px;
    transition: transform .5s ease-in-out;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__text {
      font-family: "Montserrat", sans-serif;
      font-size: 80px;
      font-weight: 600;
      line-height: 97.52px;
      color: $white;
      text-transform: uppercase;
    }

    &__img {
      width: 200px;
      height: 200px;
      border-radius: 20px;
    }
  }

  &-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    &__prev,
    &__next {
      width: 56px;
      height: 56px;
      border: 1px solid $white;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color .2s linear;

      svg path {
        transition: stroke .2s linear;
      }

      @media (hover: hover) {
        &:not(:disabled):hover {
          background-color: $white;

          path {
            stroke: $primary;
          }
        }
      }

      &:disabled {
        border: 1px solid $white-40;
        cursor: default;

        path {
          stroke: $white-40;
        }
      }
    }
  }
}

.best-gifts {
  padding: 60px 8px;
  background-color: $primary;
  background-image: url('/bg-snow.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1276px;
    margin: 0 auto;
  }

  &__suptitle {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    margin-bottom: 8px;
    color: $white;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3.91px;
    color: $white;
    padding-left: 3px;
    margin-bottom: 17px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.card {
  width: 310px;
  height: 342px;
  border-radius: 20px;
  background-color: $background;
  cursor: pointer;
  opacity: 0;
  transform: translateY(30px);
  transition: transform .2s linear, opacity .2s linear;

  @media (hover: hover) {
    &:hover {
      .card__title {
        color: $primary;
      }
    }
  }
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

.card--work {
  .card__suptitle {
    color: $purple;
  }
}

.card--health {
  .card__suptitle {
    color: $green;
  }
}

.card--harmony {
  .card__suptitle {
    color: $pink;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  height: 112px;
  padding: 20px;
  padding-top: 19px;

  background-color: $white;
  border-radius: 20px;
}

.card__title {
  text-align: start;
  letter-spacing: 1.3px;
  transition: color .2s linear;
}

.cta {
  height: 672px;
  padding: 61px 8px;
  background-color: $primary;
  background-image: url('/bg-forest.png'), url('/bg-snow.png');
  background-position: bottom, center;
  background-size: 100%, 111%;
  background-repeat: no-repeat;

  border-radius: 0 0 20px 20px;

  @media (max-width: 1439px) {
    background-size: cover;
  }

  @media (max-width: 380px) {
    height: 707px;
  }

  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 122px 0 118px;
    gap: 10px;
  }

  &__title {
    letter-spacing: 3.92px;
    max-width: 413px;
    margin-bottom: 10px;
    color: $white;

    span {
      margin-right: -3px;
    }

    @media(max-width: 767px) {
      letter-spacing: 3.7px;
    }
  }

  .btn-primary {
    height: 56px;
    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    color: $white;
  }

  .timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 344px;
    padding: 11px 12px;
    margin: 0 auto;
    margin-top: -7px;
    border-radius: 20px;
    background-color: $white-40;
    color: $white;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 80px;
      height: 52px;

      &__number {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 1.1px;
        color: $white;
      }

      &__text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 15.6px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    .separator {
      width: 1px;
      height: 20px;
      background-color: $white-40;
    }
  }
}

.footer {
  padding: 60px 8px;
  margin-top: -1px;
  background: $white;

  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1276px;
    height: 100%;
    margin: 0 auto;
    gap: 60px;
  }

  &-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 12px;

    @media (max-width: 1020px) {
      flex-wrap: wrap;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 204px;
    background-color: $background;
    border-radius: 20px;
    transition: transform .2s linear;

    @media (hover: hover) {
      &:hover {
        transform: translateY(-5px);

        .footer-card__title {
          color: $primary
        }

        .footer-card__subtitle {
          color: $primary
        }
      }
    }

    &__img {
      width: 80px;
      height: 80px;
    }

    &__title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 3.9px;
      text-transform: uppercase;
      padding-left: 2px;
      padding-top: 2px;
      transition: color .2s linear;
    }

    &__subtitle {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: color .2s linear;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 196px;
    margin: 0 auto;
  }

  .socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    svg path {
      transition: stroke .2s linear;
    }

    @media (hover: hover) {
      &:hover {
        path {
          stroke: $primary;
        }
      }
    }
  }

  .copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: $dark;
  }

  .rs-link {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.2px;
    color: $dark;
    transition: color .2s linear;

    @media (hover: hover) {
      &:hover {
        color: $primary;
      }
    }
  }
}

.gifts {
  padding: 60px 8px 64px;
  background-color: $primary;
  background-image: url('/bg-garland.png');
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;

  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1276px;
    height: 100%;
    margin: 0 auto;
  }

  &__title {
    max-width: 426px;
    margin-bottom: 20px;
    color: $white;

    span {
      padding-left: 4px;
    }
  }

  .tabs-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      gap: 0;
    }

    &__item {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      padding: 12px 20px;
      color: $white;
      border-radius: 12px;

      cursor: pointer;
      transition: background-color .2s linear;

      @media (hover: hover) {
        &:hover {
          background-color: $white-20;
        }
      }

      &--active {
        background-color: $white-20;
        cursor: default;
      }

      @media (max-width: 767px) {
        padding: 12px 8px;
      }
    }
  }
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: $overlay;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s linear, visibility .2s linear;

  .modal {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    background-color: $background;
    position: relative;
    z-index: 1010;
    opacity: 0;
    transform: translateY(20px);
    transition: transform .2s linear, opacity .2s linear;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

    &-close {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: 12px;

      transition: transform .2s linear;

      &:active {
        transform: scale(0.9);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &__img {
      width: 100%;
      max-height: 230px;
      object-fit: cover;
      object-position: center;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      width: 100%;
      padding: 20px;

      background-color: $white;
      border-radius: 20px;
    }

    &-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      &__title {
        text-align: start;
        letter-spacing: 1.3px;
        transition: color .2s linear;
      }

      &__text {
        font-size: 16px;
        text-align: start;
        line-height: 23px;
      }
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      &__title {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  .superpowers {

    &-item {
      width: 100%;
      height: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__name {
        text-transform: capitalize;
      }
    }

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }

    .snowflakes {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &__img {
        width: 16px;
        height: 16px;
      }

      .transparent {
        opacity: 0.1;
      }
    }
  }
}

.backdrop--visible {
  visibility: visible;
  opacity: 1;
}

.backdrop .modal--visible {
  transform: translateY(0);
  opacity: 1;
}